/*~ card grid layout ---------------------------------------------------------------------------- */

.card-grid {
   display: table;
   /* width: 100%; */
}
.card-grid-row {
   display: table-row;
}
.card-grid-column-head {
   display: table-cell;
   text-align: center;
   vertical-align: top;
}
.card-grid-row-head {
   display: table-cell;
   text-align: right;
   vertical-align: top;
}
.card-grid-cell {
   display: table-cell;
   vertical-align: top;
}
.card-grid-blank {
   display: table-cell;
   min-width: 2em;
}
.card-grid-placeholder {
   display: table-cell;
   width: 9em;
   height: 3em;
}

/*~ card grid decorations ----------------------------------------------------------------------- */

.card-grid {
   background: #eeeeee;
   border: 1px solid #777;
   border-radius: 15px;
   margin: 0.25em;
   padding: 1em;
}

.card-grid-placeholder {
   background-color: khaki;
}
.card-grid-cell, .card-grid-column-head, .card-grid-column-head {
}
.card-grid-column-head {
}
.card-grid-blank + .card-grid-column-head { /* the first column heading */
}

.card-grid-row-head {
   padding: 1em 0.25em;
}
.card-grid-cell {
   border: 3px double lightgray;
}
.card-grid-row-head + .card-grid-cell { /* the first cell in a row */
}

/*~ card grid text ------------------------------------------------------------------------------ */

.card-grid {
   color: black;
}
.card-grid-column-head {
   font-weight: bold;
   text-align: center;
}
.card-grid-row-head {
   font-weight: bold;
   text-align: right;
   white-space: nowrap;
}


/*~ cards --------------------------------------------------------------------------------------- */

.card {
   background: wheat;
   border: 1px solid #777;
   border-radius: 5px;
   cursor: move;
   margin: 0.25em;
   max-width: 9em; /* 30em */
   min-width: 9em; /* 12em */
   float: left;
}
.card .summary {
   padding: .25em .25em .5em .5em;
   height: 3.25em;
   overflow: hidden;
}
.card .detail {
   background: white;
   border: 1px solid #777;
   font-size: .8em;
   line-height: 1.5em;
   margin: .5em;
   min-height: 100px;
   padding: .25em .5em;
}
