/*~  misc. ------------------------------------------------------------------------------------- */

.left   { text-align: left; }
.right  { text-align: right; }
.center { text-align: center; }

.hidden { display: none; }

.nowrap { white-space: nowrap; }

.float       { float: both; }
.float-left  { float: left; }
.float-right { float: right; }
.clear       { clear: both; }
