/*~ cards -------------------------------------------------------------------------------------- */

.card, .selected-card {
   background: #ebebeb;
   border-radius: 5px;
   cursor: move;
   margin: 0.25em;
   /* float: left; */
}
.card {
   border: 1px solid #777;
}
.selected-card {
   background-image: url("../images/card-texture.png");
   border: 1px solid #999;
   -webkit-box-shadow: 0 0 7px Maroon;
   -moz-box-shadow: 0 0 7px Maroon;
   box-shadow: 0 0 7px Maroon;
}

.card {
   min-height: 2em;
   padding: .25em .25em 0.15em .5em;
   overflow: hidden;
}
.card .detail {
   background: white;
   border: 1px solid #777;
   font-size: .8em;
   line-height: 1.5em;
   margin: .5em;
   min-height: 100px;
   padding: .25em .5em;
}

.card .footer {
   padding: 0 .5em .25em .5em;
}

.card .card-actions {
   background-color: rgba(128, 128, 128, 0.75);
   border-radius: 4px;
   height: 16px;
   margin-left: 8em; /* should be 4em less than .card width */
   padding: 3px;
   position: absolute;
}


/*~ stories ------------------------------------------------------------------------------------ */

.card .story, .card .story-abbrev {
   margin: 0.25em;
}
.card .story {
}
.card .story-abbrev {
   min-width: 2em;
   text-align: center;
}


.card .story .summary {
   min-height: 3em;
   width: 12em;
}
.card .story .highlight {
   min-width: 2.5em;

   border-radius: 2px;
   border: 1px solid #999;

   background-color: #EEDD82;
   font-size: 90%;
   font-style: oblique;
   /* font-weight: bold; */
   padding: 0 0.5em;
   text-align: center;
}
.card .story .vector {
}
.card .story .vector .tag {
   white-space: nowrap;

   border-radius: 3px;
   /* border: 1px inset #eee; */
   border: 1px solid #eee;

   background-color: AntiqueWhite;
   color: #555;
   font-size: 0.8em;
   font-weight: bold;
   margin: 0 0.25em 0 0;
   padding: 0 0.5em;
   text-align: center;
}
.card .story .card-estimate {
   background-color: LightGray;
   color: FireBrick;
   border-radius: 5px;
   border: 1px inset LightGray;
   padding: 0 0.5em;
   min-width: 1.5em;
   text-align: center;
}

/*~ status ------------------------------------------------------------------------------------- */

.strut {
   height: 4em;
   background-color: orange;
}
.estimate {
   background-color: LightGray;
   color: FireBrick;
   border-radius: 5px;
   border: 1px inset LightGray;
   padding: 0 0.5em;
   min-width: 1.5em;
   text-align: center;
}


.with-questions {
   background-repeat: no-repeat;
   background-image: url("../images/question-mark.png");
   background-position: right bottom;
}

.status {
   padding: 0 0 0 2em;
   border: 1px solid #777;
   border-radius: 25px;
   -moz-border-radius: 25px; /* Firefox 3.6 and earlier */
   word-spacing: 0;
}
.status-group {
   padding: .5em;
   word-spacing: -.5em;
}

/*~ default status colours --------------------------------------------------------------------- */

.undefined      { background: Snow; }
.on-deck        { background: #eedfcc; /* AntiqueWhite2 */ }   /* wheat */
.in-progress    { background: #cdbe70; /* LightGoldenrod3 */ } /* GoldenRod */
.ready-to-test  { background: Aquamarine; }
.done           { background: #c1ffc1; /* DarkSeaGreen1 */ }   /* LightGreen */
.blocked        { background-image: url('../images/icons/stop.png'); background-position: 2px center ; background-repeat: no-repeat; }
