
body {
   /* font-family: Lucida Sans Unicode, Lucida Grande, sans-serif; */
   background-color: #222222;
   color: #a3a3a3; /* gray64 */
}

a, a:link {
   color: #a3a3a3; /* gray64 */
}
a:visited {
   color: #707070; /* gray44 */
}
a:hover {
   color: #d2b48c; /* tan */
}

.grid .row-header {
   color: #a3a3a3;
}

.story-map th, .story-map td {
   border-bottom: solid black 4px;
}

.bucket {
   border: 1px dashed Maroon;
}

.card {
   border-color: Maroon;
}

label.y {
   color: #a3a3a3;
}

.odd  { background: #333333; }
.even { background: #222222; }
