/*~ mtm styles --------------------------------------------------------------------------------- */

body, input, select, textarea {
   background: white url("/mtm/images/page-background.png") repeat;
   color: #555;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-size: 11px;
}

h1, h2, h3, h4 {
   margin: 0;
   padding: 0;
}
h1 {
   color: #eeeeee;
}

table {
   border-collapse:collapse;
}
th, td {
   padding-left: 1em;
   padding-right: 1em;
   text-align: left;
}

hr {
   background-color: #aaaaaa;
   border: none;
   height: 1px;
}

#header {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 10;
}

.section {
   background: #eeeeee;
   border: 1px solid #bbb;
   border-radius: 1em;
   margin: 0.25em 0.25em 0.75em 0.25em;
   padding: 1em;
}
.section hr {
   background-color: orange;
}


.warning-banner {
   background-color: rgba(255, 55, 55, 0.5);
   position: fixed; top: 0px; left: 0px;
   height: 1em; width: 100%;
}


/*~  messages ---------------------------------------------------------------------------------- */

#messages { /* used to position page messages and errors. */
   position: absolute;
   top: 0.5em;
   left: 220px;
   width: 35em;
   z-index: 100;
}

#error, #message {
   border-radius: 1em;
}

/* use the .error and .message classes to format the display. */

.error, .message {
   margin: 1em 8em;
   padding: 1em 2em;
}

.message {
   background: #f3f3ff;
   border: 1px solid #b2d1ff;
   color: #006dba;
   -moz-box-shadow: 0 0 0.25em #b2d1ff;
   -webkit-box-shadow: 0 0 0.25em #b2d1ff;
   box-shadow: 0 0 0.25em #b2d1ff;
}

.error {
   background: #fff3f3;
   border: 1px solid #ffaaaa;
   color: #cc0000;
   -moz-box-shadow: 0 0 0.25em #ff8888;
   -webkit-box-shadow: 0 0 0.25em #ff8888;
   box-shadow: 0 0 0.25em #ff8888;
}


/*~  pagination -------------------------------------------------------------------------------- */

.pagination {
   margin-top: 1em;
   margin-left: 1em;
}

.pagination a, .pagination .step, .pagination .currentStep {
   padding: 0.25em 1em;
   text-decoration: none;
   background-color: #ffffff;
   border: 1px solid #dddddd;
   color: #0088cc;
}

.pagination a:hover, .pagination .currentStep  {
   color: #005580;
   text-decoration: none;
}
.pagination a:hover  {
   background-color: #d8bfd8;
}
.pagination .currentStep  {
   background-color: #e6e6fa;
}

.pagination a:first-child, .pagination span:first-child {
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
   -webkit-border-top-left-radius: 4px;
   -webkit-border-bottom-left-radius: 4px;
   -moz-border-radius-topleft: 4px;
   -moz-border-radius-bottomleft: 4px
}

.pagination a:last-child, .pagination span:last-child {
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
   -webkit-border-top-right-radius: 4px;
   -webkit-border-bottom-right-radius: 4px;
   -moz-border-radius-topright: 4px;
   -moz-border-radius-bottomright: 4px
}


/*~  misc. ------------------------------------------------------------------------------------- */

p.article { width: 45em; }
p.narrow { width: 22em; }

.hint { font-size: 0.85em; color: #9B7716; }

.left   { text-align: left; }
.right  { text-align: right; }
.center { text-align: center; }

.hidden { display: none; }

.nowrap { white-space: nowrap; }

.float       { float: both; }
.float-left  { float: left; }
.float-right { float: right; }
.clear       { clear: both; }

.heavy-padding { padding: 1em; }
.light-padding { padding: .25em; }

.heavy-margin { margin: 1em; }
.light-margin { margin: .25em; }

.odd  { background: #edf3fe; }
.even { background: white; }
