/*~ colors by name from rgb.txt ---------------------------------------------------------------- */

.snow { background-color: #FFFAFA; }
.GhostWhite { background-color: #F8F8FF; }
.WhiteSmoke { background-color: #F5F5F5; }
.gainsboro { background-color: #DCDCDC; }
.FloralWhite { background-color: #FFFAF0; }
.OldLace { background-color: #FDF5E6; }
.linen { background-color: #FAF0E6; }
.AntiqueWhite { background-color: #FAEBD7; }
.PapayaWhip { background-color: #FFEFD5; }
.BlanchedAlmond { background-color: #FFEBCD; }
.bisque { background-color: #FFE4C4; }
.PeachPuff { background-color: #FFDAB9; }
.NavajoWhite { background-color: #FFDEAD; }
.moccasin { background-color: #FFE4B5; }
.cornsilk { background-color: #FFF8DC; }
.ivory { background-color: #FFFFF0; }
.LemonChiffon { background-color: #FFFACD; }
.seashell { background-color: #FFF5EE; }
.honeydew { background-color: #F0FFF0; }
.MintCream { background-color: #F5FFFA; }
.azure { background-color: #F0FFFF; }
.AliceBlue { background-color: #F0F8FF; }
.lavender { background-color: #E6E6FA; }
.LavenderBlush { background-color: #FFF0F5; }
.MistyRose { background-color: #FFE4E1; }
.white { background-color: #FFFFFF; }
.black { background-color: #000000; }
.DarkSlateGray { background-color: #2F4F4F; }
.DarkSlateGrey { background-color: #2F4F4F; }
.DimGray { background-color: #696969; }
.DimGrey { background-color: #696969; }
.SlateGray { background-color: #708090; }
.SlateGrey { background-color: #708090; }
.LightSlateGray { background-color: #778899; }
.LightSlateGrey { background-color: #778899; }
.gray { background-color: #BEBEBE; }
.grey { background-color: #BEBEBE; }
.LightGrey { background-color: #D3D3D3; }
.LightGray { background-color: #D3D3D3; }
.MidnightBlue { background-color: #191970; }
.navy { background-color: #0 00080; }
.NavyBlue { background-color: #000080; }
.CornflowerBlue { background-color: #6495ED; }
.DarkSlateBlue { background-color: #483D8B; }
.SlateBlue { background-color: #6A5ACD; }
.MediumSlateBlue { background-color: #7B68EE; }
.LightSlateBlue { background-color: #8470FF; }
.MediumBlue { background-color: #0000CD; }
.RoyalBlue { background-color: #4169E1; }
.blue { background-color: #0000FF; }
.DodgerBlue { background-color: #1E90FF; }
.DeepSkyBlue { background-color: #00BFFF; }
.SkyBlue { background-color: #87CEEB; }
.LightSkyBlue { background-color: #87CEFA; }
.SteelBlue { background-color: #4682B4; }
.LightSteelBlue { background-color: #B0C4DE; }
.LightBlue { background-color: #ADD8E6; }
.PowderBlue { background-color: #B0E0E6; }
.PaleTurquoise { background-color: #AFEEEE; }
.DarkTurquoise { background-color: #00CED1; }
.MediumTurquoise { background-color: #48D1CC; }
.turquoise { background-color: #40E0D0; }
.cyan { background-color: #00FFFF; }
.LightCyan { background-color: #E0FFFF; }
.CadetBlue { background-color: #5F9EA0; }
.MediumAquamarine { background-color: #66CDAA; }
.aquamarine { background-color: #7FFFD4; }
.DarkGreen { background-color: #006400; }
.DarkOliveGreen { background-color: #556B2F; }
.DarkSeaGreen { background-color: #8FBC8F; }
.SeaGreen { background-color: #2E8B57; }
.MediumSeaGreen { background-color: #3CB371; }
.LightSeaGreen { background-color: #20B2AA; }
.PaleGreen { background-color: #98FB98; }
.SpringGreen { background-color: #00FF7F; }
.LawnGreen { background-color: #7CFC00; }
.green { background-color: #00FF00; }
.chartreuse { background-color: #7FFF00; }
.MediumSpringGreen { background-color: #00FA9A; }
.GreenYellow { background-color: #ADFF2F; }
.LimeGreen { background-color: #32CD32; }
.YellowGreen { background-color: #9ACD32; }
.ForestGreen { background-color: #228B22; }
.OliveDrab { background-color: #6B8E23; }
.DarkKhaki { background-color: #BDB76B; }
.khaki { background-color: #F0E68C; }
.PaleGoldenrod { background-color: #EEE8AA; }
.LightGoldenrodYellow { background-color: #FAFAD2; }
.LightYellow { background-color: #FFFFE0; }
.yellow { background-color: #FFFF00; }
.LightGoldenrod { background-color: #EEDD82; }
.goldenrod { background-color: #DAA520; }
.DarkGoldenrod { background-color: #B8860B; }
.RosyBrown { background-color: #BC8F8F; }
.IndianRed { background-color: #CD5C5C; }
.SaddleBrown { background-color: #8B4513; }
.sienna { background-color: #A0522D; }
.peru { background-color: #CD853F; }
.burlywood { background-color: #DEB887; }
.beige { background-color: #F5F5DC; }
.wheat { background-color: #F5DEB3; }
.SandyBrown { background-color: #F4A460; }
.tan { background-color: #D2B48C; }
.chocolate { background-color: #D2691E; }
.firebrick { background-color: #B22222; }
.brown { background-color: #A52A2A; }
.DarkSalmon { background-color: #E9967A; }
.salmon { background-color: #FA8072; }
.LightSalmon { background-color: #FFA07A; }
.orange { background-color: #FFA500; }
.DarkOrange { background-color: #FF8C00; }
.coral { background-color: #FF7F50; }
.LightCoral { background-color: #F08080; }
.tomato { background-color: #FF6347; }
.OrangeRed { background-color: #FF4500; }
.red { background-color: #FF0000; }
.HotPink { background-color: #FF69B4; }
.DeepPink { background-color: #FF1493; }
.pink { background-color: #FFC0CB; }
.LightPink { background-color: #FFB6C1; }
.PaleVioletRed { background-color: #DB7093; }
.maroon { background-color: #B03060; }
.MediumVioletRed { background-color: #C71585; }
.VioletRed { background-color: #D02090; }
.magenta { background-color: #FF00FF; }
.violet { background-color: #EE82EE; }
.plum { background-color: #DDA0DD; }
.orchid { background-color: #DA70D6; }
.MediumOrchid { background-color: #BA55D3; }
.DarkOrchid { background-color: #9932CC; }
.DarkViolet { background-color: #9400D3; }
.BlueViolet { background-color: #8A2BE2; }
.purple { background-color: #A020F0; }
.MediumPurple { background-color: #9370DB; }
.thistle { background-color: #D8BFD8; }
.snow1 { background-color: #FFFAFA; }
.snow2 { background-color: #EEE9E9; }
.snow3 { background-color: #CDC9C9; }
.snow4 { background-color: #8B8989; }
.seashell1 { background-color: #FFF5EE; }
.seashell2 { background-color: #EEE5DE; }
.seashell3 { background-color: #CDC5BF; }
.seashell4 { background-color: #8B8682; }
.AntiqueWhite1 { background-color: #FFEFDB; }
.AntiqueWhite2 { background-color: #EEDFCC; }
.AntiqueWhite3 { background-color: #CDC0B0; }
.AntiqueWhite4 { background-color: #8B8378; }
.bisque1 { background-color: #FFE4C4; }
.bisque2 { background-color: #EED5B7; }
.bisque3 { background-color: #CDB79E; }
.bisque4 { background-color: #8B7D6B; }
.PeachPuff1 { background-color: #FFDAB9; }
.PeachPuff2 { background-color: #EECBAD; }
.PeachPuff3 { background-color: #CDAF95; }
.PeachPuff4 { background-color: #8B7765; }
.NavajoWhite1 { background-color: #FFDEAD; }
.NavajoWhite2 { background-color: #EECFA1; }
.NavajoWhite3 { background-color: #CDB38B; }
.LemonChiffon1 { background-color: #FFFACD; }
.LemonChiffon2 { background-color: #EEE9BF; }
.LemonChiffon3 { background-color: #CDC9A5; }
.LemonChiffon4 { background-color: #8B8970; }
.cornsilk1 { background-color: #FFF8DC; }
.cornsilk2 { background-color: #EEE8CD; }
.cornsilk3 { background-color: #CDC8B1; }
.cornsilk4 { background-color: #8B8878; }
.ivory1 { background-color: #FFFFF0; }
.ivory2 { background-color: #EEEEE0; }
.ivory3 { background-color: #CDCDC1; }
.ivory4 { background-color: #8B8B83; }
.honeydew1 { background-color: #F0FFF0; }
.honeydew2 { background-color: #E0EEE0; }
.honeydew3 { background-color: #C1CDC1; }
.honeydew4 { background-color: #838B83; }
.LavenderBlush1 { background-color: #FFF0F5; }
.LavenderBlush2 { background-color: #EEE0E5; }
.LavenderBlush3 { background-color: #CDC1C5; }
.LavenderBlush4 { background-color: #8B8386; }
.MistyRose1 { background-color: #FFE4E1; }
.MistyRose2 { background-color: #EED5D2; }
.MistyRose3 { background-color: #CDB7B5; }
.MistyRose4 { background-color: #8B7D7B; }
.azure1 { background-color: #F0FFFF; }
.azure2 { background-color: #E0EEEE; }
.azure3 { background-color: #C1CDCD; }
.azure4 { background-color: #838B8B; }
.SlateBlue1 { background-color: #836FFF; }
.SlateBlue2 { background-color: #7A67EE; }
.SlateBlue3 { background-color: #6959CD; }
.SlateBlue4 { background-color: #473C8B; }
.RoyalBlue1 { background-color: #4876FF; }
.RoyalBlue2 { background-color: #436EEE; }
.RoyalBlue3 { background-color: #3A5FCD; }
.RoyalBlue4 { background-color: #27408B; }
.blue1 { background-color: #0000FF; }
.blue2 { background-color: #0000EE; }
.blue3 { background-color: #0000CD; }
.blue4 { background-color: #00008B; }
.DodgerBlue1 { background-color: #1E90FF; }
.DodgerBlue2 { background-color: #1C86EE; }
.DodgerBlue3 { background-color: #1874CD; }
.DodgerBlue4 { background-color: #104E8B; }
.SteelBlue1 { background-color: #63B8FF; }
.SteelBlue2 { background-color: #5CACEE; }
.SteelBlue3 { background-color: #4F94CD; }
.SteelBlue4 { background-color: #36648B; }
.DeepSkyBlue1 { background-color: #00BFFF; }
.DeepSkyBlue2 { background-color: #00B2EE; }
.DeepSkyBlue3 { background-color: #009ACD; }
.DeepSkyBlue4 { background-color: #00688B; }
.SkyBlue1 { background-color: #87CEFF; }
.SkyBlue2 { background-color: #7EC0EE; }
.SkyBlue3 { background-color: #6CA6CD; }
.SkyBlue4 { background-color: #4A708B; }
.LightSkyBlue1 { background-color: #B0E2FF; }
.LightSkyBlue2 { background-color: #A4D3EE; }
.LightSkyBlue3 { background-color: #8DB6CD; }
.LightSkyBlue4 { background-color: #607B8B; }
.SlateGray1 { background-color: #C6E2FF; }
.SlateGray2 { background-color: #B9D3EE; }
.SlateGray3 { background-color: #9FB6CD; }
.SlateGray4 { background-color: #6C7B8B; }
.LightSteelBlue1 { background-color: #CAE1FF; }
.LightSteelBlue2 { background-color: #BCD2EE; }
.LightSteelBlue3 { background-color: #A2B5CD; }
.LightSteelBlue4 { background-color: #6E7B8B; }
.LightBlue1 { background-color: #BFEFFF; }
.LightBlue2 { background-color: #B2DFEE; }
.LightBlue3 { background-color: #9AC0CD; }
.LightBlue4 { background-color: #68838B; }
.LightCyan1 { background-color: #E0FFFF; }
.LightCyan2 { background-color: #D1EEEE; }
.LightCyan3 { background-color: #B4CDCD; }
.LightCyan4 { background-color: #7A8B8B; }
.PaleTurquoise1 { background-color: #BBFFFF; }
.PaleTurquoise2 { background-color: #AEEEEE; }
.PaleTurquoise3 { background-color: #96CDCD; }
.PaleTurquoise4 { background-color: #668B8B; }
.CadetBlue1 { background-color: #98F5FF; }
.CadetBlue2 { background-color: #8EE5EE; }
.CadetBlue3 { background-color: #7AC5CD; }
.CadetBlue4 { background-color: #53868B; }
.turquoise1 { background-color: #00F5FF; }
.turquoise2 { background-color: #00E5EE; }
.turquoise3 { background-color: #00C5CD; }
.turquoise4 { background-color: #00868B; }
.cyan1 { background-color: #00FFFF; }
.cyan2 { background-color: #00EEEE; }
.cyan3 { background-color: #00CDCD; }
.cyan4 { background-color: #008B8B; }
.DarkSlateGray1 { background-color: #97FFFF; }
.DarkSlateGray2 { background-color: #8DEEEE; }
.DarkSlateGray3 { background-color: #79CDCD; }
.DarkSlateGray4 { background-color: #528B8B; }
.aquamarine1 { background-color: #7FFFD4; }
.aquamarine2 { background-color: #76EEC6; }
.aquamarine3 { background-color: #66CDAA; }
.aquamarine4 { background-color: #458B74; }
.DarkSeaGreen1 { background-color: #C1FFC1; }
.DarkSeaGreen2 { background-color: #B4EEB4; }
.DarkSeaGreen3 { background-color: #9BCD9B; }
.DarkSeaGreen4 { background-color: #698B69; }
.SeaGreen1 { background-color: #54FF9F; }
.SeaGreen2 { background-color: #4EEE94; }
.SeaGreen3 { background-color: #43CD80; }
.PaleGreen1 { background-color: #9AFF9A; }
.PaleGreen2 { background-color: #90EE90; }
.PaleGreen3 { background-color: #7CCD7C; }
.SpringGreen1 { background-color: #00FF7F; }
.SpringGreen2 { background-color: #00EE76; }
.SpringGreen3 { background-color: #00CD66; }
.DarkOliveGreen1 { background-color: #CAFF70; }
.DarkOliveGreen2 { background-color: #BCEE68; }
.khaki1 { background-color: #FFF68F; }
.khaki2 { background-color: #EEE685; }
.khaki3 { background-color: #CDC673; }
.LightGoldenrod1 { background-color: #FFEC8B; }
.LightGoldenrod2 { background-color: #EEDC82; }
.LightGoldenrod3 { background-color: #CDBE70; }
.LightYellow1 { background-color: #FFFFE0; }
.LightYellow2 { background-color: #EEEED1; }
.LightYellow3 { background-color: #CDCDB4; }
.LightYellow4 { background-color: #8B8B7A; }
.RosyBrown1 { background-color: #FFC1C1; }
.RosyBrown2 { background-color: #EEB4B4; }
.RosyBrown3 { background-color: #CD9B9B; }
.RosyBrown4 { background-color: #8B6969; }
.IndianRed1 { background-color: #FF6A6A; }
.burlywood1 { background-color: #FFD39B; }
.burlywood2 { background-color: #EEC591; }
.burlywood3 { background-color: #CDAA7D; }
.wheat1 { background-color: #FFE7BA; }
.wheat2 { background-color: #EED8AE; }
.wheat3 { background-color: #CDBA96; }
.wheat4 { background-color: #8B7E66; }
.salmon1 { background-color: #FF8C69; }
.LightSalmon1 { background-color: #FFA07A; }
.LightSalmon2 { background-color: #EE9572; }
.DeepPink1 { background-color: #FF1493; }
.DeepPink2 { background-color: #EE1289; }
.DeepPink3 { background-color: #CD1076; }
.HotPink1 { background-color: #FF6EB4; }
.HotPink2 { background-color: #EE6AA7; }
.HotPink3 { background-color: #CD6090; }
.HotPink4 { background-color: #8B3A62; }
.pink1 { background-color: #FFB5C5; }
.pink2 { background-color: #EEA9B8; }
.pink3 { background-color: #CD919E; }
.pink4 { background-color: #8B636C; }
.LightPink1 { background-color: #FFAEB9; }
.LightPink2 { background-color: #EEA2AD; }
.LightPink3 { background-color: #CD8C95; }
.LightPink4 { background-color: #8B5F65; }
.PaleVioletRed1 { background-color: #FF82AB; }
.PaleVioletRed2 { background-color: #EE799F; }
.PaleVioletRed3 { background-color: #CD6889; }
.maroon1 { background-color: #FF34B3; }
.maroon2 { background-color: #EE30A7; }
.maroon3 { background-color: #CD2990; }
.VioletRed1 { background-color: #FF3E96; }
.VioletRed2 { background-color: #EE3A8C; }
.VioletRed3 { background-color: #CD3278; }
.magenta1 { background-color: #FF00FF; }
.magenta2 { background-color: #EE00EE; }
.magenta3 { background-color: #CD00CD; }
.magenta4 { background-color: #8B008B; }
.orchid1 { background-color: #FF83FA; }
.orchid2 { background-color: #EE7AE9; }
.orchid3 { background-color: #CD69C9; }
.orchid4 { background-color: #8B4789; }
.plum1 { background-color: #FFBBFF; }
.plum2 { background-color: #EEAEEE; }
.plum3 { background-color: #CD96CD; }
.plum4 { background-color: #8B668B; }
.MediumOrchid1 { background-color: #E066FF; }
.MediumOrchid2 { background-color: #D15FEE; }
.MediumOrchid3 { background-color: #B452CD; }
.MediumOrchid4 { background-color: #7A378B; }
.DarkOrchid1 { background-color: #BF3EFF; }
.DarkOrchid2 { background-color: #B23AEE; }
.DarkOrchid3 { background-color: #9A32CD; }
.DarkOrchid4 { background-color: #68228B; }
.purple1 { background-color: #9B30FF; }
.purple2 { background-color: #912CEE; }
.purple3 { background-color: #7D26CD; }
.purple4 { background-color: #551A8B; }
.MediumPurple1 { background-color: #AB82FF; }
.MediumPurple2 { background-color: #9F79EE; }
.MediumPurple3 { background-color: #8968CD; }
.MediumPurple4 { background-color: #5D478B; }
.thistle1 { background-color: #FFE1FF; }
.thistle2 { background-color: #EED2EE; }
.thistle3 { background-color: #CDB5CD; }
.thistle4 { background-color: #8B7B8B; }
.gray0 { background-color: #000000; }
.grey0 { background-color: #000000; }
.gray1 { background-color: #030303; }
.grey1 { background-color: #030303; }
.gray2 { background-color: #050505; }
.grey2 { background-color: #050505; }
.gray3 { background-color: #080808; }
.grey3 { background-color: #080808; }
.DarkGrey { background-color: #A9A9A9; }
.DarkGray { background-color: #A9A9A9; }
.DarkBlue { background-color: #00008B; }
.DarkCyan { background-color: #008B8B; }
.DarkMagenta { background-color: #8B008B; }
.DarkRed { background-color: #8B0000; }
.LightGreen { background-color: #90EE90; }
